nav {
  height: 100px;
  border-bottom: 1px solid rgb(158, 123, 123);
  box-shadow: rgba(158, 29, 29, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h2 {
  color: rgb(16, 51, 95);
}

nav div {
  width: 100%;
  align-self: center;
  text-align: center;
}

.movie-box {
  margin: 0 20px;
  padding: 2rem;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
}

.movie-item {
  margin: 5px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  min-width: 200px;
  width: 200px;
  height: 150px;
}

.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-item div {
  margin: 10px;
}

.top-movie {
  font-size: 1.2em;
  font-weight: 700;
  color: rgb(16, 51, 95);
}
